*   {
    margin: 0;
    border: 0;
}

.calculator {
    border: 2px solid black;
    margin: 100px 500px;
    display: flex;
    flex-direction: column;
}

.display    {
    border: 2px solid black;
    margin: 25px;
    padding: 20px;
    height: 40px;;
}

.row1, .row2, .row3, .row4  {
    display: flex;
    flex-direction: row;
    margin: 0 15px;
}

.row4   {
    margin-bottom: 25px;
}

.number, .operator, .equals {
    margin: 10px;
    padding: 10px;
    border: 2px solid gray;
    height: 30px;
    width: 100px;
    text-align: center;
}